[2020-01-31 13:16] thelan opened #2 "Error parsing containerConfig.envFrom"
**Describe the bug**

After starting deploying to a running kubernetes cluster, the container for the kubevious deployment is throwing the foillowing error. Also this cause the UI to be empty.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy using Helm
2. Observe logs from kubevious pod
3. Run portforward and go to the webui
4. See an empty ui and the error above in the kubevio

[2020-01-31 13:43] thelan commented on #2
After rethinking about the section of the code, there's no envObj in this if block so i think we can just skip this section.

[2020-01-31 16:45] kubevious commented on #2
Thanks for finding!

[2020-01-31 17:14] rubenhak commented on #2
Merged, built, released. Please don't forget to pull the [https://github.com/kubevious/deploy](https://github.com/kubevious/deploy) repo for updated charts.

[2020-01-31 17:14] #2 closed

[2020-01-31 17:34] kubevious opened #4 "Helm: Create namespace within the chart."
See [https://github.com/kubevious/deploy#standard-deployment](https://github.com/kubevious/deploy#standard-deployment).

Its currently required to create the namespace separately and then deploy the manifest. It would be great to have a way to eliminate the need to manually create a namespace.

[2020-01-31 17:37] kubevious opened #5 "Helm: Repository & Release based installation"
See [https://github.com/kubevious/deploy](https://github.com/kubevious/deploy).

Kubevious is currently installed by templating helm charts and applying the manifest using kubectl.

Make the chart also installable using "helm install" so that there is no need to "git clone" the repo to install Kubevious.

[2020-01-31 18:12] kubevious opened #6 "Backend: Gracefully handing parsing errors"
Gracefully handle parsing errors. Currently because of a single error nothing would render on the screen.

Need something smarter than try/catch. Accumulate exceptions. Deduplicate exceptions. Generate report including which parsers failed, on which objects. Include details on which objects the parsing failed. Best if a package is downloadable from UI.

Even better if a button appears on a UI with

[2020-03-06 01:48] dinar-dalvi opened #7 "Edit and apply the config map"
Please add the ability to edit and update the config map

[2020-03-06 05:38] rubenhak commented on #7
@dinar-dalvi, I'd like to collect other requests in regards with configuration and making changes to the cluster before jumping in to solution. Currently Kubevious only requests read-only access to the cluster. Requesting write permissions at this stage might significantly affect adoption rate.

Please tell more about your use case. Do you want to modify any config map? Are those mapped as volumes

[2020-03-06 05:38] rubenhak commented on #6
Resolved in v0.3

[2020-03-06 05:38] #6 closed

[2020-03-06 18:36] dinar-dalvi commented on #7
My use case as follows, we have a need to modify the config-map on the fly for some services. Post modify I can sale the pods down and back up so the change is picked up. For now i can do that doing kubectl but want to see if it's possible from the ui.

[2020-03-06 21:50] rubenhak commented on #7
ok, got that. Transition from viewer to editor as major change. I'll keep the ticket open for some time to collect other feedback. Based on other use cases will be able to generalize. Thanks

[2020-03-09 04:55] kubevious opened #8 "History DB Auto-cleanup"
History DB grows infinitely. Would eventually cause out-of-space error on MySQL. Implement auto-cleanup capability. Cleanup based on time/disk space.

[2020-03-09 23:48] sabper commented on #8
thank you.
my kubevious mysql disk full..
how can i cleanup with manual?

[2020-03-10 00:01] rubenhak commented on #8
Could you share some deployment numbers (#deployments, #pods, #nodes)? How long have you been using it?

I'd recommend increasing the volume size for some time until the proper fix is ready. There should be a persistent volume **data-kubevious-mysql-0** in namespace **kubevious**. 10GB is definitely not enough. This can help to increase the volume size: [https://dev.to/bzon/resizing-persistent-vol

[2020-03-10 01:17] sabper commented on #8
thank you for reply.

i have 31 deployment, 75 pod, 8 nodes.
i have been use for 5days.

i consider increasing volume size for kuvevious mysql.

[2020-03-14 03:41] kubevious opened #9 "History DB Redesign"
### Describe the bug
History database grows very fast and consumes too much storage. There are too many duplicates in JSON data. We should use hashing to deduplicate JSON data.

### Current Implementation
![db](https://raw.githubusercontent.com/kubevious/media/master/diagrams/db/db-hash-current.png)
Majority of storage is taken by **config** columns of **snap_items** and **diff_items** columns.

#

[2020-03-17 14:49] peter-dolkens opened #10 "Support pan/scroll in overview pane"
**Is your feature request related to a problem? Please describe.**
I instinctively try to use my track-pad to scroll around in the overview pane, instead of using the click-and-drag navigator.

**Describe the solution you'd like**
I'd like the navigation pane to pan and scroll when using my track-pad. When using a mouse, scrolling should scroll, and alt+scrolling or ctrl+scrolling should pan.

**D

[2020-03-17 20:33] rubenhak commented on #10
@peter-dolkens, thanks for suggestion. That definitely can be done, but the only problem i see is that scrolling left on the trackpad causes the browser to go back to preview page.

[2020-03-18 00:25] peter-dolkens commented on #10
Pretty sure there’s libraries out there for that, as it works on google maps for example. Might need some scroll bar trickery to achieve it.

Don’t forget touch screens (tablets and laptops) either - though that one just should just be a drag/drop.

Peter Dolkens

[2020-03-18 02:26] rubenhak commented on #10
In google maps panning up/down does zooming, but left/right still causes browser to go back/forward in history.

Anyway, will try to find some way to improve navigation usability.

[2020-03-18 02:36] peter-dolkens commented on #10
Ah you're right - google maps does zoom and forward/back on the trackpad.

Here's a site that does pan+scroll: https://www.photopea.com/ - just open the demo.psd, zoom in, then you can pan and scroll to your hearts desire.

[2020-03-18 04:26] rubenhak commented on #10
@peter-dolkens, wonderful, if photopea did it, we can do that as well!

[2020-03-24 00:27] rubenhak commented on #10
@peter-dolkens, here is what was done:
1. Panning with mouse works over the entire "Universe" area. No need to drag boxes. Can be initiated by dragging from empty area as well.
2. Can pan using regular scroll wheel by standard means. Up/down using scroll wheel, left/right using Shift-wheel.
3. Sliding trackpad within the "Universe" area. History navigation should be prevented when two fingers swip

[2020-03-24 02:24] rubenhak commented on #10
@peter-dolkens temporarily assigning to you to give feedback on the changes

[2020-03-25 06:06] peter-dolkens commented on #10
Will try this when I wake up in the morning - sounds good!

[2020-03-27 00:13] peter-dolkens commented on #10
Works exactly as expected on my touch-enabled laptop - lovely UX =D

[2020-03-27 00:13] #10 closed

[2020-03-27 00:22] rubenhak commented on #10
Wonderful! Will be released along with few other improvements soon.

Sadly there is not too much real estate available to show what in the navigation window. Need to spend some more time on guiding users towards problematic areas.

No plans for pinch-to-zoom, but might go straight to VR/AR :D

[2020-03-27 02:38] peter-dolkens commented on #10
I was thinking something like this could help:
![image](https://user-images.githubusercontent.com/469666/77715656-125c2500-6fd4-11ea-9b44-06488ad244f1.png)

[2020-03-27 04:00] rubenhak commented on #10
It would be probably best to discuss any such improvements in a separate thread. But, I'll share some thoughts here.

I'm afraid that by just blindly coloring red would cause too many things red within the diagram. Any error/warning/suggestion is propagated up within the hierarchy. That might cause too many things red and user wouldn't know where to start with. I think there is a need to show the

[2020-03-27 23:44] #9 closed

[2020-04-01 22:02] kubevious opened #12 "Failure to prepare mysql statements"
### Describe the bug
Exception in UI. Should repair broken mysql connection.

### Screenshots
[code]

[2020-04-05 08:05] opvizordz opened #14 "Error: Request failed with status code 413"
### Describe the bug

I installed kubevious via the latest helm chart and noticed an empty dashboard.

Logs kubevious  pod

[code]

kubevious-parser log files:

[code]
### To Reproduce
Steps to reproduce the behavior:
1. install helm chart
2. Dashboard empty
3. kubectl logs kubevious and kubevious-parser-....

### Environment Details:
 - Kubernetes Current version: 1.16.6-do.0
 - Chrome

[2020-04-05 20:32] rubenhak commented on #14
@opvizordz, thank you for submission. Could you share some scale numbers: nodes, pods, deployments?

[2020-04-05 20:40] rubenhak commented on #14
@opvizordz, by any chance are you using ConfigMaps that contain large pieces of payload?

[2020-04-05 20:54] rubenhak commented on #8
@sabper, hi, we made a significant redesign to the database. Now it should consume much less space. Please follow instructions here: [https://github.com/kubevious/helm](https://github.com/kubevious/helm).

Any further upgrades would be through helm releases, but this time please manually cleanup the namespace before following instructions above:
[code]

We are still working on db-cleanup, but this

[2020-04-05 20:57] rubenhak commented on #5
Resolved in v0.4: [https://github.com/kubevious/helm](https://github.com/kubevious/helm)

[2020-04-05 20:57] #5 closed

[2020-04-05 20:57] rubenhak commented on #4
Resolved: [https://github.com/kubevious/helm](https://github.com/kubevious/helm).
Implemented with helm v3.2

[2020-04-05 20:57] #4 closed

[2020-04-06 02:12] rubenhak commented on #14
@opvizordz, looks like indeed you have some k8s object which is more that 1MB in size. I've increased the size to 10MB. Anything beyond that would be skipped. Could you try the following version and let us know how it works?
[code]

[2020-04-06 06:13] vchain-us-mgmt commented on #14
@rubenhak thanks a lot for the quick fix. Upgrade worked and dashboard shows data.
The largest object I could find were the Grafana dashboards (0.5MB).
Is there a simple way to find all objects by size?

[2020-04-06 06:21] opvizordz commented on #14
@rubenhak thanks a lot for the quick fix. Upgrade worked and dashboard shows data.
The largest object I could find were the Grafana dashboards (0.5MB).
Is there a simple way to find all objects by size?

[2020-04-06 06:21] #14 closed

[2020-04-09 20:31] obeyler commented on #7
If you give the opportunity to edit a config map you also need to give the opportunity to kill a pod as the config map is only loaded during start

[2020-04-09 20:37] rubenhak commented on #7
@obeyler, good poing. We have a different solution for that. We are going to show the pods/deployments that are "out-of-sync" from configmaps. That should work regardless how the configmap was modified. But that is different from this feature request

[2020-04-09 20:37] obeyler opened #15 "Add the opportunity to see other object produce by or for CRD"
### Is your feature request related to a problem? Please describe.
Every K8S dashboard have the same lack. They don't show  yaml produced for/by CRD
For example I use traefik V2. I have lot of IngressRoute object but I can not see them
Same case for about all K8S operators I have on my cluster. They can only be listed by kubectlcli

### Describe the solution you'd like
I would be great if by confi

[2020-04-13 01:52] LaurentDumont opened #16 "[Installation] Missing DB after helm deploy."
### Describe the bug
- The DB is missing after a successful Helm install.
- I'm not sure of it's the root cause, but the UI throws out 500 errors and shows SQL errors in the container logs.

### To Reproduce
Steps to reproduce the behavior:
1. `helm upgrade --atomic -i kubevious kubevious/kubevious --version 0.4.24 -n kubevious`

![image](https://user-images.githubusercontent.com/8936473/79085120-

[2020-04-13 02:25] LaurentDumont commented on #16
After a bit of mucking around, I was able to get the UI to work.

- I had to manually create the DB inside the mysql container.
- I had to manually create the schema with the initdb.sql script that was present in the mysql container (but never ran it seems :cry: )
- I had to allow the root user to login from other network IP + flush privileges.

I'll try to see why the initdb doesn't run.

[2020-04-13 06:17] rubenhak commented on #16
hi @LaurentDumont,
logs from App and Parser are related to some objects being too big. Please try this temporary solution until the version is released in couple of days:
[code]

Things are explainable if there is missing DB. Are you upgrading from an earlier version? Seems like mysql crash restarted. Do you have logs from initial launch?

[2020-04-14 02:17] LaurentDumont commented on #16
I think this was from a clean state. Before manually fixing the issue and letting it run since, I deleted the mysql folder in the pv. It's a bit strange that the mysql container starts up and tries to recover stuff.

Would there be anything else persistent beyond the volume that could play around with the mysql container?

[2020-04-14 03:31] LaurentDumont commented on #16
There is something a bit peculiar I saw. I was tailing the logs and it seems that the mysql container "restarts" three times during the helm install process.

Initial logs
[code]

Logs after a few minutes
[code]

[2020-04-15 05:22] LaurentDumont commented on #16
I do believe this might be related to POSIX permissions on the volume? It's a gluster volume without any specific UID set.

[code]

#################### MYSQL CONTAINER CRASH AND RESTARTS ####################

This starts the XA crash recovery process
[code]
What is the expected permissions + user/group for the volume?

[2020-04-15 05:39] rubenhak commented on #16
@LaurentDumont, I think mysql is running as root, and it needs 700 permissions for /var/lib/mysql which is mounted to pvc. If it was caused by invalid permissions, how would the server recover on its own after 3rd restart?

I was googling around for solution and came across an issue request. Then after reading through realized it was you :)
[https://github.com/docker-library/mysql/issues/658](http

[2020-04-15 05:53] LaurentDumont commented on #16
Not too sure why it works after the crash :(

This is what a succesful database init and deployment looks like. It works if I change the volume type to HostPath instead of the Gluster server I'm using.

[code]

- We see the temporary server getting created.
- The database is created.
- The init sql is then ran to add the tables.

So it's probably something specific to my setup. I think we can clos

[2020-04-15 05:55] rubenhak commented on #16
This is a little bit hard to debug considering specifics of each environment. I'll be in the loop at the docker-lib/mysql in case they have additional questions.

Could you show exactly what you changed to make this work? I can expose the variable for a better control.

[2020-04-15 05:57] LaurentDumont commented on #16
Just the volume type.

"Production" is using Gluster volumes as PV for Kubernetes. Just to test, I tried using HostPath (which binds a local path on the Kubernetes node to the container running on it ) and it allowed the mysql init to proceed correctly.

[2020-04-15 06:05] rubenhak commented on #16
Did you do that by changing the storage class or by completely replacing the volumeClaimTemplate with a volume?

[2020-04-15 08:25] kubevious commented on #14
@opvizordz, fixed in here: https://github.com/kubevious/kubevious/releases/tag/v0.5

[2020-04-16 01:55] LaurentDumont commented on #16
Alright, I posted in the SQL issue but it looks like the root cause was the Liveness probe that went over threshold on my setup. It worked with the local storage, probably because the performances we're better?

I don't think it's anything specifically related to the Helm values. If anything, maybe the Liveness probe initial delay could be increased. I've increased mine to 180 seconds (but the act

[2020-04-16 02:27] rubenhak commented on #16
@LaurentDumont, That was quick to root cause. The timeout can be increased and even made editable, but I'm afraid that with such slow storage everything else would run super slow. There is quite a lot of stuff store in the database to make the time machine feature possible.

[2020-05-03 02:55] ilknarf opened #17 "Disappearing Timeline"
### Describe the bug
Timeline won't reappear after clicking "Hide Timeline"

### To Reproduce
Steps to reproduce the behavior:
1. Go to [demo.kubevious.io](demo.kubevious.io)
2. Click on 'Hide Timeline' under the settings drop-down menu on the top-right corner.
3. Click on 'Show Timeline' under the settings drop-down menu
4. See error

### Screenshots
![Example](https://user-images.githubuserconte

[2020-06-12 22:32] rubenhak opened #25 "Error: Can't add new command when connection is in closed stat"
### Describe the bug
Error with reestablishing connection to mysql.

[code]

[2020-07-05 05:58] kubevious commented on #25
Same as https://github.com/kubevious/kubevious/issues/12

[2020-07-05 05:59] kubevious commented on #25
duplicate

[2020-07-05 06:02] kubevious commented on #12
Fixed in https://github.com/kubevious/kubevious/releases/tag/v0.6

[2020-07-05 06:02] #12 closed

[2020-07-05 06:02] kubevious commented on #16
Fixed in https://github.com/kubevious/kubevious/releases/tag/v0.6

[2020-07-05 06:02] #16 closed

[2020-07-05 06:04] kubevious commented on #17
Fixed in https://github.com/kubevious/kubevious/releases/tag/v0.6

[2020-07-05 06:04] #17 closed

[2020-07-17 09:02] menih opened #29 "Error 500: Not Connected"
Just follow the installation instructions.
Installed using Helm.
Installed version of Kubevious is latest (0.7.2).
Went to the page... got "Error 500: Not Connected"

### Environment Details:
 - Kubernetes Vanilla 1.18
 - Browser chrome
 - Version 0.7.2

[2020-07-17 09:10] rubenhak commented on #29
@menih, could you run this command and make sure that pods are running?
[code]

should see something like this:

[code]

[2020-07-17 09:29] menih commented on #29
I actually installed it on default namespace. it shouldn't matter though...

I suspect I know what the issue is... the mysql pod is not starting because of storage. Even though I did specify storageClass ...

mysql:
  cpu: 50m
  db: kubevious
  image:
    pullPolicy: IfNotPresent
    repository: mysql
    tag: 8.0.19
  memory: 500Mi
  name: kubevious-mysql
  pass: ""
  port: 3306
  storage: 10Gi

[2020-07-17 19:13] menih commented on #29
I suspect the "mysql.storageClass" does not work. Maybe a bug.

[2020-07-17 20:17] kubevious commented on #29
@menih, please check the output of
[code]

In the bottom should include a section like this:
[code]

Also, please include the output of
[code]

[2020-07-17 20:50] menih commented on #29
I have since corrected the issue manually. So the output you've requested
would reflect the correct information... Just suggested this may be an
issue you may want to look into in the future.

Thanks for your help and responsiveness.

Very interesting product by the way.

Meni

On Fri, Jul 17, 2020 at 1:18 PM kubevious <notifications@github.com> wrote:

[2020-07-18 00:13] rubenhak commented on #29
@menih, could you explain what was the issue exactly and how did you solve it? It would be beneficial for others that might experience similar case.

Appreciate the feedback! Unrelated to this issue request, but wanted to share a new capability we added to Kubevious recently: https://github.com/kubevious/kubevious/blob/master/docs/rules-engine.md#rules-engine

[2020-07-27 17:06] kostis-codefresh opened #30 "Feature request - Have some rules already enabled in the default installation"
I installed Kubenvious in my cluster and the installation worked fine.

However I found that no rules were defined.

I think that it is best if some rules are already there, so that the user can see the value of the tool right away

I suggest at least the following rules

* public application
* no-resource-limit-pods
* latest-tag-check
* no-memory-request-set

[2020-07-27 17:09] kostis-codefresh opened #31 "Creating a marker after a rule does not reset the mark error"
### Describe the bug
I created a rule (fat-namespace) without actually having created a marker first. The rule complained that the marker is not present. I added the mark, but the rule was still complaining

### To Reproduce
Steps to reproduce the behavior:
1. Create a new rule (fat-namespace)
2. Save it
3. See the error message that mark is not present
4. Create mark and save it
5. Rule editor st

[2020-07-27 17:37] rubenhak commented on #30
@kostis-codefresh, thanks for the recommendation.

[2020-07-27 17:39] rubenhak commented on #31
@kostis-codefresh, could you include a screenshot including the error?

Could you please check the screen recording and let us know if you're seeing different behavior?
https://cln.sh/BZ33wF

[2020-07-27 17:58] kostis-codefresh commented on #31
I am trying to recreate it again, and I cannot do it a second time. Too bad I did not get a screenshot.

[2020-07-27 17:58] #31 closed

[2020-07-27 18:03] rubenhak commented on #31
@kostis-codefresh, we'll keep an eye on it. thanks!

[2020-08-05 21:50] rubenhak commented on #7
@dinar-dalvi, @obeyler, while Kubevious is still using a read-only access to Kubernetes, we added capability to sanitize the YAML files (remove generation, uid, selflink, status, etc files), edit the file in place, and download edited file ready to be applied with kubectl or to be checked in to git (of you use something similar to GitOps). Kubevious also creates the kubectl command to be copy-past

[2020-08-07 15:58] obeyler commented on #7
[2020-08-07 15:55:01.635 +0000] INFO  (LocalLoader/1 on kubevious-parser-696d46c7bd-88489): [setupApiGroup] Lease :: coordination.k8s.io :: v1 :: leases...
***** ERROR *****
{
  status: 503,
  message: 'Service Unavailable',
  method: 'GET',
  baseURL: 'https://10.245.0.1:443',
  url: '/apis/metrics.k8s.io/v1beta1'
}
[2020-08-07 15:55:01.640 +0000] ERROR (Context/1 on kubevious-parser-696d46c7bd-8

[2020-08-07 23:55] rubenhak commented on #7
@obeyler, thanks for trying out. Looks like your response was related to https://github.com/kubevious/parser/issues/4

Did you have a chance to take a look to editing capability? Does it help with making changes to configs?

[2020-08-19 08:48] pedroparraortega commented on #29
I faced this issue today. I'm using the helm chart to deploy it and i realised that there is a bug in the helm chart. If you configure a password for the mysql connection it will fail as the mysql statefulset is not using the configmap...

I will try to create a PR for it.

[2020-08-19 19:19] rubenhak commented on #29
hi @pedroparraortega, I think that's a separate issue. This particular issue happened with an empty password.

Indeed, the password was not handled. Could you open a separate issue for supporting password? Would very much appreciate help on this. To make it right, probably best to safe the password in a "Secret" rather than environment variables. Lets store the value of secret in a file (YAML or J

[2020-08-25 18:28] saiyam1814 opened #36 "Community Post"
Do you think adding a section to Readme about the community posts/contributions would be of benefit?
I wrote a blog recently - https://saiyampathak.com/let-us-take-a-dig-into-kubevious-ckea9d9r700muxhs19jtr3xr8

[2020-08-25 20:57] rubenhak commented on #36
@saiyam1814, thanks for the post. What is the format do you think would be best?
Links including names of authors?

[2020-08-25 21:44] kubevious commented on #36
If you think there is a better format please feel free too let us know: https://github.com/kubevious/kubevious#community-posts

[2020-08-26 09:03] saiyam1814 commented on #36
Yes looks good just created a PR for adding twitter for my name.

[2020-08-26 09:03] #36 closed

[2020-08-26 13:06] saiyam1814 opened #38 "Create ClusterIP instead of Nodeport"
Can we have a clusterIp created instead of Nodeport when installing via helm ?

[2020-08-26 18:09] rubenhak commented on #38
we are going to have than on next release

[2020-08-26 18:11] saiyam1814 commented on #38
Awesome! I am planning to add it to Civo cloud market place will keep kubevious team posted

[2020-08-26 18:56] rubenhak commented on #38
Sounds great. Thanks

[2020-08-30 13:18] arleif-dfactory opened #39 "Empty universe"
### Describe the bug
Completely empty universe tab as well as other tabs

### To Reproduce
Steps to reproduce the behavior:
1. helm upgrade --atomic -i -n kubevious \

2. Open the UI

### Expected behavior
A clear and concise description of what you expected to happen.

### Screenshots
![Screenshot-from-2020-08-30-23-10-04](https://user-images.githubusercontent.com/32668779/91659935-42c16580-eb16-

[2020-08-30 20:47] rubenhak commented on #39
hi @arleif-dfactory,

How big is your deployment? node/pod count?

This typically happens during the initial startup while the data is being loaded into the backend.
Can you try to open this url and see if there is any data returned: [http://<your-domain>/api/v1/diagram/children?dn=root](http://<your-domain>/api/v1/diagram/children?dn=root)?

Unless there is something else going on wrong, the UI s

[2020-08-31 03:09] arleif-dfactory commented on #39
Ruben,
Thanks for the reply.
The deployment is not very large. 15 nodes, 100 pods
I tried giving those two deployments x10 more memory and CPU than the default and waiting a long time, didn't help.
`/api/v1/diagram/children?dn=root`  returns `[ ]`
Here are some logs if they give you some info
[code]
The queue size goes up to 10 sometime but drops to 1 quickly.

The snapshot job fails sometimes (ti

[2020-08-31 05:44] rubenhak commented on #39
That should be ok. Tested with 1000 pods and worked fine.

@arleif-dfactory, could you provide complete logs for **kubevious** pod?

Could you provide more details on that? Its bit hard to help without much info.

Also, please check if "kubevious" pod is crashing/restarting.

[2020-09-01 16:15] pedroparraortega commented on #7
i do not think kubevious (cluster one) should manage resources.... At least as it is right now. In our case, ie, we have a multitenant cluster where we have users who can use kubevious to check their workloads together with cluster admins. Allowing the UI to do changes on the fly would require a security layer in top probably based on rbacs, etc.

[2020-09-01 17:39] rubenhak commented on #7
Letting Kubevious to modify resources would change the use model and would potentially conflict with existing processing like GitOps, etc.

@pedroparraortega, did you have a change to take a look to convenience capability to allow to modify the config in UI for download and copy-paste purposes. UI also sanitizes the config removing unnecessary props like uid, generation, selflink, status, etc.

[2020-09-01 17:45] pedroparraortega commented on #7
i do not see any issues by allowing the UI do modifications always that those are not applied to the cluster.

@obeyler maybe for what you want to do, you can check this project [Wave](https://github.com/pusher/wave) which allow you to configure dependent resources and the this will trigger the auto update of those objects

[2020-09-02 15:39] arleif-dfactory commented on #39
[Logs of the Kubevious pod](https://github.com/kubevious/kubevious/files/5163291/kubevious-kubevious-65cc996c97-drcmt-1599060912199982339.log). It did not have any restarts, but I had killed it myself to add more resources.

Occasionally there are errors like this in the `parser` pod but very rare. Other times the snapshot is successful.` [2020-09-02 15:36:37.947 +0000] ERROR (ReporterTarget/1 on

[2020-09-02 17:27] rubenhak commented on #39
The logs attached include first 90 seconds after start. Could you run it for 10-15 minutes and attach logs for Kubevious as well as Parser pods?

[2020-09-03 05:15] arleif-dfactory commented on #39
- [kubevious logs](https://github.com/kubevious/kubevious/files/5166287/kubevious-kubevious-65cc996c97-drcmt-1599109633799521028.log)
- [parser--logs](https://github.com/kubevious/kubevious/files/5166318/parser_logs.txt)
- There wasn't must interesting info in there so I restarted parser.
[parser logs after restart](https://github.com/kubevious/kubevious/files/5166311/kubevious-kubevious-parser-69

[2020-09-03 06:00] rubenhak commented on #39
This error explains why the universe is empty:
[code]

To debug this further, can you try to ssh into parser pod and send a http POST request to **http://kubevious-svc.kubevious.svc.cluster.local:4001/api/v1/collect/snapshot/items**

Without payload should receive error (missing snapshot_id), but want to test if parser can communicate with the kubevious backend.

[2020-09-03 06:04] rubenhak commented on #39
one more thing. how big is your deployment? how many pods, configmaps, nodes, etc?

[2020-09-03 06:48] arleif-dfactory commented on #39
`/app # curl --location --request POST 'http://kubevious-svc.kubevious.svc.cluster.local:4001/api/v1/collect/snapshot/i
tems'
{"message":"Missing snapshot_id"}/app #`

Size: 15 nodes, 200 pods, 200 configmaps

[2020-09-04 00:13] rubenhak commented on #39
@arleif-dfactory, we need to instrument it more to debug further. Will let you know when changes are ready to try out.
In the logs I see 35059objects captured. Does it sound reasonable? Objects collected by kubevious:
- Node
- Namespace
- LimitRange
- Service
- ConfigMap
- Pod
- ServiceAccount
- PersistentVolumeClaim
- PersistentVolume
- ReplicaSet
- Deployment
- DaemonSet
- StatefulSet
- Horizon

[2020-09-04 00:16] rubenhak commented on #39
Also, meanwhile could you try to run the Portable version: https://github.com/kubevious/portable
It runs on the same machine where the kubectl is configured. It would help to direct to the cause of the problem.

[2020-09-07 03:28] arleif-dfactory commented on #39
Ruben,
35k sounds about right since we use Knative and have a lot more services than there are active at any point in time. I'm sorry I didn't make it clear that the number (200 pods) that I quoted earlier was the number of **running** pods. We have a lot more deployments, most of them scaled down to 0.
Portable - works!. See see results on the UI although it is very slow and sluggish.

[2020-09-07 07:20] rubenhak commented on #39
@arleif-dfactory, we are definitely hitting scale limits because of increased serverless related content.
We can try to work on that. Would probably need some more of your input to try out few versions to provide feedback.
It would be best if you could join the slack channel of quick communication: https://kubevious.io/slack

[2020-09-09 06:30] arleif-dfactory commented on #39
Thanks Ruben. I will join, but in case I don't respond there and you need me to run tests, post them here, I get email alerts.

[2020-09-14 10:49] akshaybhatt14495 opened #40 "Namespace and K8 Labels as filter"
### Is your feature request related to a problem? Please describe.
Is it possible to have filter on namespace and labels?
User will use some kube context with permission to access only one namespace in that case this might break.
Sometime we need to view only some resources on the basis of labels.

[2020-09-15 01:12] rubenhak commented on #40
Wanted to understand better what you would like to achieve. If the users has limited namespace visibility, that would be reflected and only the allowed namespaces would show up in the UI.

What kinds of objects are you more interested? Lets say there is a Ingress with some labels. In Kubevious the Ingress shows up under "Application" node. If you want to filter Ingresses based on labels, would you

[2020-09-15 12:18] akshaybhatt14495 commented on #40
1: Let say we have 4 namespaces Ns1, Ns2, Ns3, Ns4. Now our kubernetes context have some restrictions to access only some set of namespaces let say Ns1. For that reason we want to search resources by providing namespace. within which we can get resources.

2: Since we are using helm charts for your services. So we are attaching one common label to all resources within a release. For that reason we

[2020-09-15 19:32] rubenhak commented on #40
Only Kubevious Portable uses kube config contexts to connect to clusters (just like the kubectl). The non-portable Kubevious doesn't use contexts. Instead it uses Roles/RoleBindings to request access to the cluster. For non-portable Kubevious you should restrict using RoleBindings instead.

So assuming you restricted the access to Ns1, then you would not see any other namespace resources, right?

[2020-09-16 03:26] rubenhak commented on #39
@arleif-dfactory, lets try to run this version and see how it would behave.
[code]

Once you get it running for some time, please upload the logs for **parser** & **kubevious**.

[2020-09-19 22:36] kfirfer opened #41 "Define log level on deployment"
Hello

Would be nice to have ability to set the log level of each component
warning/error/info/debug etc...

Im using helm chart version:
0.7.18

[2020-09-20 03:45] rubenhak commented on #41
hi @kfirfer, what is your use case? are you seeing too much logs?
by saying component are you referring to pods, or individual components of the process?

[2020-09-20 03:48] kfirfer commented on #41
Yes its printing a lot of logs, hard to trace problems
Referring to the processes under the hood, its could be on the pod/deployment level as-well

[2020-09-20 04:32] rubenhak commented on #41
Yes, we can add that. Any other issue you had that you were trying to debug?
Also, on which pod do you see much logs? kubevious? parser?

[2020-09-20 04:39] kfirfer commented on #41
**Yes, we can add that. Any other issue you had that you were trying to debug?**
Not that I came up with

**Also, on which pod do you see much logs? kubevious? parser?**
Both of them, they equally print the same amount of logs

[2020-10-04 23:06] MastanaGuru opened #43 "Installing on Openshift 3.11"
I am trying to install on openshift 3.11, but the kubevious-ui pod fails to start with below exceptions
[code]

Any documentation on openshift 3.11 installation ?

[2020-10-05 02:06] kubevious commented on #43
@MastanaGuru, we are using the following docker-entrypoint.sh script to setup nginx reverse proxy:

[code]

This was not tested with OpenShift. Could you check if you have any security policies that would prevent the script from writing into **/etc/nginx/conf.d/default.conf** file?

[2020-10-16 11:44] nadworny opened #46 "Error while opening UI: 426 (Upgrade Required)"
### Describe the bug
When I proxy the UI through kubectl, the UI is loaded (although kind of empty) and I'm getting the following error:
[code]
All other pods are running without any errors.

Log from kubevious-ui:
[code]

### To Reproduce
Steps to reproduce the behavior:
1. Run `kubectl port-forward $(kubectl get pod -l k8s-app=kubevious-ui -n kubevious -o jsonpath="{.items[0].metadata.name}") 30

[2020-10-16 11:57] guillem-riera commented on #46
I am getting this issue too.

I deployed to minikube using the provided helm chart command line and version from the readme:

[code]

I see the same logs as @nadworny too.

Thanks for taking a look at it = )

[2020-10-16 19:13] rubenhak commented on #46
@nadworny, @guillem-riera,
Can you guys attach logs for "kubevious" and "parser" pods?

@nadworny, If the cluster is big with lots of pods, jobs, configmaps, etc it may take some time to bring up the UI. Just trying to find a root cause.

[2020-10-20 08:47] nadworny commented on #46
@rubenhak here are the logs

parser: https://gist.github.com/nadworny/11f232ec92863022268904db51b2e05a

kubevious: https://gist.github.com/nadworny/c9a666f8e1c77d1f52255dfcb42fa5b1

[2020-10-20 10:41] nadworny commented on #46
Ok as suggested, I waited a bit and started the UI again - it works! 👍

I'm getting this exception but I guess it's irrelevant:
`index.js:18 WebSocket connection to 'ws://localhost:3000/socket/?EIO=3&transport=websocket&sid=z12aPFY1Uxzl1qh8AAAB' failed: Error during WebSocket handshake: Unexpected response code: 400`

[2020-10-20 17:44] rubenhak commented on #46
@nadworny, glad it worked. We are working on areas to shorted initial load time.

WebSocket error is unrelated, but will try to eliminate it to avoid confusion.

Keeping this open for tracking purposes.

[2020-10-22 11:26] guillem-riera commented on #46
Just a short update:
I am using istio (demo settings, with auto injection in the kubevious namespace) in my minikube cluster.

After removing the release with helm, and removing the auto injection in the namespace, I was able to run kubevious without errors (the latest helm release that can be found using `helm search repo kubevious -l`, which was `0.7.22`).

Might it be strictly related to istio?

[2020-10-22 19:30] rubenhak commented on #46
@guillem-riera, thanks for the update. We are preparing a major release. Would be able to take a look to this after that.

Meanwhile, it would be helpful to have Istio configs you used to debug this further.

[2020-10-26 01:27] derrickburns opened #47 "External name service is not treated properly -"
Kubevious reports "Could not find apps matching selector" for ExternalName Service. This is incorrect.

[2020-10-26 01:44] rubenhak commented on #47
@derrickburns, could you provide and example config for such service?

[2020-10-27 05:32] derrickburns commented on #47
apiVersion: v1
kind: Service
metadata:
  annotations:
    fluxcd.io/sync-checksum: 8c03fabae09f1fe23679ffe4418acb2bb0f6d8ff
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{"fluxcd.io/sync-checksum":"8c03fabae09f1fe23679ffe4418acb2bb0f6d8ff"},"labels":{"app":"zk-1","fluxcd.io/sync-gc-mark":"sha256.T0kFKDum-PVrsTZKHowsyEuDQ

[2020-10-27 06:02] rubenhak commented on #47
@derrickburns, I though for ExternalName services the "selector" should not be specified. Nevertheless, we can ignore selector for ExternalName services

[2020-10-30 22:31] derrickburns commented on #47
Thanks!

[2020-11-05 11:35] AlexZalyalowa opened #48 "MySqlDriver Error"
Hello!
I've installed kubevious via helm template
`helm template --namespace kubevious . > kubevious.yaml
kubectl -n kubeious create -f kubevious.yaml`

I've got 500 errornotconnected in UI and error in  kubevious pod
`
[2020-11-05 10:14:00.968 +0000] ERROR (MySqlDriver/1 on kubevious-859c868868-hvm8k): [executeInTransaction] TX Failed.
[2020-11-05 10:14:00.969 +0000] ERROR (MySqlDriver/1 on kubev

[2020-11-05 21:55] rubenhak commented on #48
hi @AlexZalyalowa, looks like you're using latest unofficial build which has some issues. I'd recommend the following:
1. Remove existing installation, including the mysql & volume
2. Install version 0.6.36 using helm install (not helm template, then kubectl apply) following the instructions here: [https://github.com/kubevious/helm#installing-the-chart-using-helm-v3x](https://github.com/kubevious/

[2020-11-10 11:25] AlexZalyalowa opened #49 "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
Hello.
I have an empty Universe in ui and parser sometimes crushes with the error
[code]
May be it's because my cluster is pretty big (27 nodes). I've tried to increase parser and kubevious replicas up to 7, but it didn't help.

[2020-11-10 18:47] rubenhak commented on #49
@AlexZalyalowa, scaling horizontally (number of pods) wouldn't help. Lets scale them down to 1 of each. Instead, they should be scaled vertically. First of all increase memory allocation to parser and kubevious significantly - 2GB is not sufficient.

[2020-11-11 08:33] AlexZalyalowa commented on #49
@rubenhak
I've increased parser's memory up to 20Gb, kubevious's memory up to 10Gb and now universe is still empty and parser has this error in logs
[code]

[2020-11-11 23:24] rubenhak commented on #49
@AlexZalyalowa, we have to take a look at this deeper. It would be easier if you join the slack channel to discuss.

[2020-11-17 00:10] kubevious commented on #30
Resolved in [v0.7](https://github.com/kubevious/kubevious/releases/tag/v0.7).

[2020-11-17 00:10] #30 closed

[2020-11-17 00:10] kubevious commented on #25
Resolved in [v0.7](https://github.com/kubevious/kubevious/releases/tag/v0.7).

[2020-11-17 00:10] #25 closed

[2020-11-17 00:10] kubevious commented on #47
Resolved in [v0.7](https://github.com/kubevious/kubevious/releases/tag/v0.7).

[2020-11-17 00:10] #47 closed

[2020-11-17 00:10] kubevious commented on #7
Resolved in [v0.7](https://github.com/kubevious/kubevious/releases/tag/v0.7).

[2020-11-17 00:10] #7 closed

[2020-11-17 00:10] kubevious commented on #8
Resolved in [v0.7](https://github.com/kubevious/kubevious/releases/tag/v0.7).

[2020-11-17 00:10] #8 closed

[2020-11-17 00:11] kubevious commented on #29
Resolved in [v0.7](https://github.com/kubevious/kubevious/releases/tag/v0.7).

[2020-11-17 00:11] #29 closed

[2020-11-17 00:11] kubevious commented on #38
Resolved in [v0.7](https://github.com/kubevious/kubevious/releases/tag/v0.7).

[2020-11-17 00:11] #38 closed

[2020-11-17 00:11] kubevious commented on #48
Resolved in [v0.7](https://github.com/kubevious/kubevious/releases/tag/v0.7).

[2020-11-17 00:11] #48 closed

[2020-11-20 14:28] onigoetz commented on #39
Hello, I seem to have the same issue

docker images :
- kubevious/kubevious 0.8.1
- kubevious/parser 0.8.2

__parser__
I got this error a few times
[code]

Also, it seems that the queue never empties , is that normal ?
[code]

For company policy reasons, I'm not sure I can give you a full dump, however If you tell me what you're looking for or if you create a docker image with some custom profilin

[2020-11-20 19:53] rubenhak commented on #39
@onigoetz, I think 69k objects is a little bit too much for the poor thing to handle :)

Could you also provide some logs from the the "kubevious" pod? Also, please check the CPU/memory settings for "kubevious" and "mysql" pods.  Its probably not able to keep up with the incoming traffic.

If you want and policy allows, I can try to help by taking a peek to your cluster. Join the slack channel to

[2020-12-02 20:48] nadworny opened #50 "mysql is not booting: No space left on device"
### Describe the bug
After deploying using helm chart the mysql is in a crashloopbackoff state all the time. Here is the error log:
[code]

### To Reproduce
Install using helm chart

### Expected behavior
mysql not crashing.

### Environment Details:
 - aks v1.16.13
 - Version v0.7.26

[2020-12-03 03:33] rubenhak commented on #50
@nadworny, there are two reasons why this might happen. How long had you been running Kubevious? How large is your deployment? How many nodes, pods, services, configmaps, etc do you have?

## Default size just not enough
It could be your deployment is larger then anticipated and 20Gb default storage size is just not enough. Unfortunately helm wouldn't let you update the "mysql.persistence.size" va

[2020-12-03 07:01] nadworny commented on #50
hi @rubenhak and thanks for a detailed explanation. I'll try it as soon as possible. I thought that by removing the helm chart which was the first thing I trued also the PVC should be cleaned up but I guess that's not the case?

[2020-12-03 07:48] rubenhak commented on #50
Sure, n.p. Please get back once you get this running.

Unfortunately not. The PV would stay and would be remounted whenever the chart is reinstalled. There would be another issue with MySQL password if reinstalled. Please see the explanation and solution here: https://github.com/kubevious/helm#uninstalling-the-chart

[2021-01-05 19:36] kubevious commented on #50
Fixed in [v0.8](https://github.com/kubevious/kubevious/releases/tag/v0.8)

[2021-01-05 19:36] #50 closed

[2021-01-05 19:36] kubevious commented on #40
Support added in [v0.8](https://github.com/kubevious/kubevious/releases/tag/v0.8)

[2021-01-05 19:36] #40 closed

[2021-01-05 19:36] kubevious commented on #41
Support added in [v0.8](https://github.com/kubevious/kubevious/releases/tag/v0.8)

[2021-01-05 19:36] #41 closed

[2021-01-05 19:37] kubevious commented on #49
We have a potential fix in [v0.8](https://github.com/kubevious/kubevious/releases/tag/v0.8). Please try it out.

[2021-01-05 19:40] kubevious commented on #46
Folks, can you try the latest version and let us know if you are still experiencing this?https://github.com/kubevious/kubevious/releases/tag/v0.8

@guillem-riera, yes, if service mesh is configured in such a way that would prevent ui to backend communication that could be the reason.

[2021-01-26 20:23] anerathil commented on #46
Hey,
i just deployed the Helm chart (version 0.8.15) in a namespace with Istio + sidecar injection (no connection restrictions configured) and waited a few minutes.

I also get the 426 (Upgrade Required). There are no errors logs in the pods.
Tried executing a curl (curl -v $BACKEND_URL) in the Kubevious ui pod - http 200 was returned.

My Istio config is:

[code]

Any ideas?

[2021-01-27 01:32] rubenhak commented on #46
ahh... Istio... :)
TBH, we haven't got our hands on Istio yet, so its hard to answer right now. But I'm happy to help. Would you like to join the slack channel to do remote debugging together? I think we would be able to find the solution. Two sets of eyes is better than one. Here it is? [https://kubevious.io/slack](https://kubevious.io/slack)

[2021-02-18 03:39] anannaya opened #51 "kubevious UI is not loading."
I am using EKS cluster with k8s version 1.15 + .  I don't see UI is loading any data.  My cluster is huge ,probably having more than 500 pods. Is there anyway i can debug further .
I see below error in kubevious
[code]
![image](https://user-images.githubusercontent.com/19487932/108302047-35ce2680-71c9-11eb-8933-70e856f2b604.png)
![image](https://user-images.githubusercontent.com/19487932/108302481

[2021-02-18 20:13] kubevious commented on #46
@nadworny, @guillem-riera, this was fixed in version **0.9.2**.
[code]

@anerathil, thanks for helping to root cause and validate the fix.

[2021-02-18 20:13] #46 closed

[2021-02-18 20:18] rubenhak commented on #51
@anannaya, we need some more details. Lets continue in slack.

[2021-03-16 17:04] mleneveut opened #52 "no-resource-limits-pods rule uses limit instead of limits"
### Describe the bug
The no-resource-limits-pods rule uses container.resources.limit instead of container.resources.limits

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'Rule Editor'
2. Click on 'no-resource-limits-pods' rule
3. Go to 'Rule script' tab
4. See error

### Environment Details:
 - Kubernetes Distribution/Version [e.g. GKE v1.13.12-gke.25, OpenShift 4.3] AKS v1.19.3
 - Br

[2021-03-16 17:36] rubenhak commented on #52
@mleneveut, what kind of error are you seeing? Is it a red expandable error bar on the top? It would be great to see the error bar expanded as a screenshot, or just text copy. Also, please check for errors for **kubevious-backend** pod.

[2021-03-20 00:18] rubenhak commented on #52
@mleneveut, fixed in version 0.9.9. Unfortunately since that is just a default, upgrade over existing deployments wouldn't fix the rule. Any new deployments would have the correct rule. Thanks for submitting the issue.

[code]

[2021-03-20 00:18] #52 closed

[2021-06-22 09:59] chairiq opened #53 "kubevious-mysql-o pendong"
I used the following command, based on the instruction to install the kubevious

[code]
the pod kubevious-mysql-o is always pending
[code]

The i tried to get info about the process with the following command:
[code]

I have one StorageClass
[code]

I have one PersistentVolume
[code]

I have PersistentVolumeClaim

[code]

Any idea?

[2021-06-23 22:06] rubenhak commented on #53
Those this are not easy to debug remotely, but first thing that I notice is that `local-storage` storage class is not used. Instead the PVC is set to use storage class `manual`. Is it done intentionally?

[2021-07-13 22:48] korjavin opened #54 "Narrow time-machine to one resource"
Use case:
There are thousand resources, but I am looking when and how was changes a specific  config map

[2021-08-25 02:49] rubenhak commented on #54
hi @korjavin, this is definitely very useful. This was added to Kubevious SaaS. Because of differences in the way storage layer is implemented in SaaS vs open-source this capability is not easily portable.

For the time being I'd recommend trying it out with Kubevious SaaS, which is currently free, until we get bit more bandwidth and implement it for open-source. Here is an article and walkthrough

[2021-08-26 21:31] garygan89 opened #55 "Allow option to load MYSQL_PASS from file instead of ENV"
### Is your feature request related to a problem? Please describe.
No. But having the option to load password from file would allow easy integration with external centralized secret storage such as Hashicorp Vault. This is great for operator that do not want to store credentials in k8s etcd as Secret (which is unencrypted by default), and rely on external vault service.

The Vault Agent Injector c

[2021-08-30 17:26] run-stop opened #56 "Error 502 upon installation through helm"
### Describe the bug
I'm installing Kubevious as described at the GitHub homepage using my in house kubernetes cluster. Once the installation is over I'm starting the kube proxy to access the application. The application starts loading, but on the top of the screen I'm getting the error message: `"Error occurred: <!DOCTYPE html> <html> <head> <title>Error</title> <style> body { width: 35em; margin

[2021-08-30 17:31] rubenhak commented on #56
@run-stop, can you check if the **kubevious** pod is healthy. Also please check the logs. If there is an issue with the storage, then the mysql wouldn't come up properly, and that would not let **kubevious** pod to be ready. Also, please check the mysql logs.

[2021-08-30 19:57] kubevious commented on #53
closing for inactivity

[2021-08-30 19:57] #53 closed

[2021-08-30 19:57] kubevious commented on #51
closing for inactivity

[2021-08-30 19:57] #51 closed

[2021-08-31 15:47] run-stop commented on #56
@rubenhak, thank you very much for your help. The problem was infrastructure-related. I've started digging through my (complex home) environment and had to adjust the DNS server IP address assigned to the VLAN clients. This VLAN is where my Kubernetes nodes are sitting. So the DNS IP  was not reachable from the coredns pod, and this caused Kubevious to misbehave.
Once I fixed that, the application

[2021-08-31 16:16] rubenhak commented on #56
@run-stop, great that it worked!

I wanted to get some feedback from you. Would you mind joining our slack channel to have a quick discussion? [https://kubevious.io/slack](https://kubevious.io/slack)

Thanks,
Ruben

[2021-08-31 16:23] run-stop commented on #56
Hi Ruben,

I just signed in to the Slack channel.

[2021-08-31 16:34] rubenhak commented on #56
awesome, talk to you there. closing this issue.

[2021-08-31 16:34] #56 closed

[2021-09-13 21:50] mozai opened #57 ""logger" undefined if kubevious.log.level changed from default"
### Describe the bug
logger is missing if I change the loglevel in the helmchart

### To Reproduce
1. kubectl create namespace kubevious
2. `echo 'kubevious: {log: {level: warning}}' >values.yaml`  (EDIT: fixed typo)
3. `helm upgrade --atomic --install kubevious --namespace kubevious kubevious/kubevious --version 0.8.15 --debug --values values.yaml`

### Expected behavior
Kubevious is deployed wit

[2021-09-13 23:11] rubenhak commented on #57
hi @mozai,  try using `warn` instead of `warning` in the yaml file.
I also assume that there is a typo while posting this issue in the step 2.

[2021-09-14 11:50] mozai commented on #57
Where can we find a list of valid strings for the "kubevoius.log.level" parameter?  Maybe this is a documentation problem.

[2021-12-04 07:51] uhlhosting opened #58 "Does not work on Talos"
### Describe the bug

Recently deployed it via talos k8s

### To Reproduce
Steps to reproduce the behavior:

It works when I run docker locally, yet when I run it on my k8s, and tryng to connect to it via proxy, I get the bellow.

[code]

​

### Expected behavior
A clear and concise description of what you expected to happen.

### Screenshots

<img width="1920" alt="image" src="https://user-images

[2021-12-04 08:30] uhlhosting commented on #58
[code]

[2021-12-05 02:30] rubenhak commented on #58
Are kubevious pods up and running? Could you provide logs for "kubevious" pod?

[2021-12-05 09:34] uhlhosting commented on #58
For now I removed it, we have also the Slack communication, will have to redeploy it, since it wasnt working I removed it. Will redeploy later on and gather more logs. The only way I could get it work, was with external portable docker, that way works, otherwise no chance. Maybe is also due to the Talos OS where K8s cluster resides, would neeed more info also from Talos team.

[2021-12-08 08:52] maorkuriel opened #59 "Error: release kubevious failed, and has been uninstalled due to atomic being set: timed out waiting for the condition"
### Describe the bug
I am trying to run the tool on Minikube on my Macbook pro M1 and failing to install it with an error message
❯ helm upgrade --atomic -i kubevious kubevious/kubevious --version 0.8.15 -n kubevious

Release "kubevious" does not exist. Installing it now.
Error: release kubevious failed, and has been uninstalled due to atomic being set: timed out waiting for the condition

~ took

[2021-12-08 17:47] rubenhak commented on #59
@maorkuriel, lets try adding `--debug` argument to helm upgrade, and also removing the `--atomic` flag. One of the components is not coming up properly. The chart also installs mysql with PVCs. One of the common issues is coming up from there.

Please include more details from helm install and pods that are failing.

[2021-12-08 17:49] rubenhak commented on #57
@mozai, the list of log severities is here: [https://github.com/kubevious/helm#configuration](https://github.com/kubevious/helm#configuration), scroll down to *kubevious.log.level* row.

[2021-12-08 17:49] #57 closed

[2021-12-15 08:05] maorkuriel commented on #59
Hi @rubenhak
I ran the helm upgrade as you instructed here is the output:
❯ helm upgrade -i kubevious kubevious/kubevious --version 0.8.15 -n kubevious --debug

history.go:56: [debug] getting history for release kubevious
Release "kubevious" does not exist. Installing it now.
install.go:178: [debug] Original chart version: "0.8.15"
install.go:199: [debug] CHART PATH: /Users/maorkuriel/Library/Cach

[2021-12-15 19:46] rubenhak commented on #59
@maorkuriel, did you check "kubevious" Deployment and the "kubevious-mysql" StatefulSet? Are the corresponding pods up and running? Are they ready? Any errors in the logs?

[2021-12-16 09:12] maorkuriel commented on #59
@rubenhak  They were running. I will spin up another deployment and test it again.

[2021-12-16 19:46] rubenhak commented on #59
@maorkuriel, that's odd. There is not much information for me to troubleshoot. Want to have a live call to debug? I've sent you an invite on LinkedIn.

[2021-12-29 13:51] baoquach14 opened #60 "Can you please provide the steps to install kubevious to Kubernetes cluster using kubectl instead of using helm"
Can you please provide the steps to install kubevious to Kubernetes cluster using kubectl instead of using helm.

I am getting an error when running  "helm repo add kubevious https://helm.kubevious"
Error: looks like "https://helm.kubevious.io" is not a valid chart repository or cannot be reached:
connect: connection timed out

Thank you for your help

[2022-01-09 07:54] hiondal opened #61 "rule 'no-resource-limits-pods' has typo"
### Describe the bug
The condition of rule 'no-resource-limits-pods' is '!container.resources.limit'.
but, It should be '!container.resources.limits' as followed.
You omit 's' at 'limit'.
for(var container of item.config.spec.containers)
{
  if (!container.resources.limits)
  {
    warning('No resource limit set');
  }
}

### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on

[2022-05-04 23:53] kubevious opened #63 "Feature Proposal: 3rd Party API Gateway(Traefik Proxy) Validation Support"
# Scope
We want to make usage of 3rd party API Gateways easier and safer. Kubevious is already equipped with a [Gateway View](https://kubevious.io/docs/features/application-centric-ui/gateway-view) where Ingresses, Services, and Applications are correlated and presented in a Domain -> URL -> Ingress -> Service -> Service Port -> Container Port -> Application path. We want to extend Gateway support

[2022-05-05 00:09] kubevious commented on #61
Thanks for reporting. This issue has been resolved in the latest version 🎉🎉🎉.
Please let us know how it works!

[code]

For more details on installation options, visit [Deployment Repository](https://github.com/kubevious/helm).

[2022-05-05 00:09] #61 closed

[2022-05-05 00:20] kubevious commented on #60
Thanks for reporting the issue. Sorry for the late response. Helm chart should be the right way to deploy Kubevious. There was probably a momentary glitch with the web hosting causing the helm public repo [https://helm.kubevious.io/](https://helm.kubevious.io/) not to being accessible.

Please try installing again using the latest chart:
[code]
For more details on installation options, visit [Depl

[2022-05-05 00:20] #60 closed

[2022-05-05 00:28] kubevious commented on #59
@maorkuriel, we've released a new version that could resolve this issue. Could you please give it a try and reopen the issue if it still persists.

[code]
For more details on installation options, visit [Deployment Repository](https://github.com/kubevious/helm).

[2022-05-05 00:28] #59 closed

[2022-05-05 00:29] kubevious commented on #58
@uhlhosting, we've released a new version where NGINX is replaced with Caddy gateway. That should resolve this issue. Could you please give it a try and reopen the issue if it still persists.

[code]
For more details on installation options, visit [Deployment Repository](https://github.com/kubevious/helm).

[2022-05-05 00:29] #58 closed

[2022-05-05 00:37] kubevious commented on #15
@obeyler, we've released a new version that supports custom CRDs. Please see the screenshot below. You can also learn more about other views available in [Kubevious UI Docs](https://kubevious.io/docs/features/application-centric-ui/).

![CleanShot 2022-05-04 at 17 35 24](https://user-images.githubusercontent.com/59004473/166848440-71f7cb91-2c35-4138-a958-f4f540f64a6e.png)

Please try installing ag

[2022-05-05 00:37] #15 closed

[2022-05-05 00:47] kubevious commented on #54
@korjavin, we have released the new Kubevious open-source version and the Change History capability is now ported to the open-source project. A quick how it works below (sorry for the poor gif quality, GitHub significantly reduces the image size):

![CleanShot 2022-05-04 at 17 42 43](https://user-images.githubusercontent.com/59004473/166848914-00d46f78-8b5e-4e9b-b06b-fa58adf66dae.gif)

Please try

[2022-05-05 00:47] #54 closed

[2022-05-05 00:53] kubevious commented on #43
@MastanaGuru, Thanks for reporting the issue. We have just released a new version and replaced NGINX with Caddy. That path is no longer modified by Kubevious, so should not hit a permission issue on OpenShift.

Please try installing again using the latest chart and let us know how it works.

[code]
For more details on installation options, visit [Deployment Repository](https://github.com/kubevious

[2022-05-05 00:53] #43 closed

[2022-05-05 01:04] kubevious commented on #39
@arleif-dfactory , @onigoetz , thanks for reporting this issue. We have just released a new version which also includes significant performance improvements. We also split the **Backend** into **Backend** and **Collector**. **Backend** serves user requests (so the UI is super responsive) and the **Collector** does the heavy lifting. The setup looks like this:

[![Kubevious Architeture](https://git

[2022-05-05 01:04] #39 closed

[2022-05-05 01:09] kubevious commented on #49
@AlexZalyalowa, more improvements were made to support production scale setups.

For your large setups try increasing the following variables in the chart. Try giving at least 4GB to each.
- collector.resources.requests.*
- collector.resources. limits.*
- parser.resources.requests.*
- parser.resources. limits.*

Please try installing again using the latest chart and let us know how it works. Reope

[2022-05-05 01:09] #49 closed

[2022-05-05 13:52] uhlhosting commented on #58
@kubevious will try, thanks for the follow up!

[2022-05-05 22:21] rubenhak opened #64 "Kubevious Guard - best practices enforcer"
# Scope
Kubevious continuously validates Kubernetes configuration and state for misconfigurations, conflicts and violations of best practices. Kubevious is equipped with [built-in Kubernetes validations](https://kubevious.io/docs/built-in-validators/) as well as an extensible [rules engine](https://kubevious.io/docs/features/rules-engine/) which allows any arbitrary conditions validated using Java

[2022-05-05 22:24] kubevious opened #65 "Feature Proposal: Kubevious Guard - best practices enforcer"
# Scope
Kubevious continuously validates Kubernetes configuration and state for misconfigurations, conflicts, and violations of best practices. It is equipped with <a href="https://kubevious.io/docs/built-in-validators/" target="_blank">built-in Kubernetes validations</a> as well as an extensible <a href="https://kubevious.io/docs/features/rules-engine/" target="_blank">rules engine</a> that allow

[2022-05-05 23:03] kubevious opened #66 "Kubernetes Best Practices Enforcement Library"
# Scope
Kubevious continuously validates Kubernetes configuration and state for misconfigurations, conflicts, and violations of best practices. Kubevious is equipped with an extensible [rules engine](https://kubevious.io/docs/features/rules-engine/) which allows any arbitrary conditions validated using JavaScript like if-then-else logic. What makes Kubevious validation engines unique is the abilit

[2022-05-05 23:13] rubenhak opened #67 "UI Object Selection History"
# Description
Kubevious UI consists of multiple tree views with an ability to travel from one to another. When traversing the tree it sometimes makes it hard to remember how you landed on a particular node. The proposal is to have a "Navigation History" tool window in Kubevious UI to keep track of node selection with an ability to previous selected node.

# Implementation
Changes should be in the

[2022-05-05 23:30] kubevious opened #68 "Support for Certificate Manager"
# Scope
We want to make usage of Certificate Manager easier and safer. This proposal is to implement native support of Certificate Manager to prevent and troubleshoot Certificate Manager issues right in Kubevious. That would involve tracking linked resources and guiding user to areas that need. Certificate Manager uses following path `main ingress resource` -> `certificate` -> `certificaterequest`

[2022-05-16 20:53] christianknell opened #70 "missing ServiceAccount for redis"
In the current version of the Chart (1.0.3) there is no ServiceAccount defined for redis, but there exists a value in values.yaml and also a helper-function to define the name for ServiceAccount.

[2022-05-16 20:55] christianknell opened #71 "use bitnami charts as dependencies"
### Suggestion for improvement and simplification

Instead of defining MySQL and Redis "charts" as subcharts just use existing charts from Bitnami:
- https://artifacthub.io/packages/helm/bitnami/mysql
- https://artifacthub.io/packages/helm/bitnami/redis

[2022-05-19 18:05] kubevious commented on #70
@tanmay-bhat, thanks for providing the fix.

@christianknell, please try it out and lets us know if it works for you:
[code]

[2022-05-22 10:09] tanmay-bhat opened #73 "Feature Proposal: Support for Authentication"
### Is your feature request related to a problem? Please describe.
- Authentication is necessary for dashboard based applications since they are meant to be exposed.
- Right now, kubevious doesn't have any auth feature. Hence, anyone who's exposing it has to find an alternate way either through API gateway, or basic-auth via ingress or running nginx sidecar container.
- Hence, enabling auth for ku

[2022-05-22 20:12] rubenhak commented on #73
@tanmay-bhat, thanks for submitting the request. Let's keep this request open until we have fully integrated User Authentication & RBAC in Kubevious. I suspect that it would take some time until it happens. Before that happens, I'd suggest including documentation how to achieve user authentication.

I will include docs to implement auth using Traefik IngressRoute and basic-auth Middleware. @tanmay

[2022-05-30 12:10] jscheytt opened #74 "Mysql unstable in minikube cluster"
### Describe the bug
When I install kubevious into an empty cluster (e.g. with minikube), not all the components become ready together.

### To Reproduce
Steps to reproduce the behavior:
[code]

Multiple problems play together at this point:
1. The UI is rendered in the browser, but it's basically empty (see Screenshots).
1. On almost every request (e.g. reloading the UI), the mysql Pod becomes sh

[2022-05-31 02:41] rubenhak commented on #74
Hi @jscheytt, could you provide some more details? What is the state of pods in the kubevious namespace. Are the PVCs properly bound? Can you check MySQL pod logs? Most of the issues in minikube are caused by PVCs not properly bound to the Pods

[2022-06-01 13:30] jscheytt commented on #74
Hi @rubenhak, all the pods in the kubevious namespace are Ready apart from the kubevious-mysql-0 Pod - it always switches back and forth between Ready and not Ready:
![kubectl get pods -n kubevious](https://user-images.githubusercontent.com/25305098/171415651-3949f073-2428-4b98-baec-217c3d87cd44.png)

I will try adding more details:

A `kubectl describe` on the PV and the PVC gives the following:

[2022-06-01 17:50] rubenhak commented on #74
@jscheytt, seems to be something off with the dns resolver. Which pod has IP: 172.17.0.1 ?

Also, could you show the output of the init container?
[code]

[2022-06-02 07:11] jscheytt commented on #74
The output of the initContainer of the mysql pod is included at the beginning of 2) (the lines beginning with "init-mysql").

I tried reproducing the same setup again this morning, and I somewhat failed: Again, all Pods become Ready, but this time the mysql Pod never becomes Ready. (The describe output is basically the same though.) The output of the logs currently is this:

[code]

This time the

[2022-06-12 01:46] rubenhak opened #75 "ExternalName Type Services Not Supported"
### Describe the bug
Kubevious does not Support ExternalName type Services. As a result we see "Could not match Ingress to Services." errors.

[2022-07-05 09:32] christianknell commented on #70
@kubevious works as expected. Thanks!

[2022-07-05 09:32] #70 closed

[2022-07-08 16:42] rubenhak commented on #71
@christianknell, thanks, that's a good finding! Do you know if the volumes would be compatible between **mysql** and **bitnami/mysql** images?

@christianknell, @tanmay-bhat, do you think we can get some community help to use dependent subcharts for mysql and redis?

[2022-07-26 22:26] sahroshan opened #76 "guard validate.sh script fails with an error"
### Describe the bug
when running guard validate script I am getting below error.

[code]

### To Reproduce
Steps to reproduce the behavior:
1. On a fresh ec2 ubuntu 20.04 machine
2. copy  deployment.yaml
[code]

3. run command `cat deployment.yaml | sh <(curl -sfL https://run.kubevious.io/validate.sh)`

### Expected behavior
validate script should show issues with the yaml.

### Screenshots
If ap

[2022-07-26 22:27] sahroshan commented on #76
is there any specific flag to be enabled  in bashrc?

[2022-07-27 08:50] christianknell commented on #71
@rubenhak the Bitnami charts are run as non-root user. So i think the PVC can't be used right away because the file permissions wouldn't match. But the Bitnami charts come with an option to set these file permissions on initialization: https://artifacthub.io/packages/helm/bitnami/mysql?modal=values&path=volumePermissions.
So from my perspective they should be compatible, but i haven't tried this s

[2022-07-28 13:54] rubenhak commented on #76
@sahroshan, thanks for submitting this issue! There was a corner case which prevents submission of validation job to the Guard. It should now work.

Yes, it only works with bash shell. This should now work. Could you please try it and let me know how it works?
[code]

Here is how it would look:
https://demo.kubevious.io/guard/change?changeid=k8s-default-change-8ff037fc-3582-458f-b348-4c35c54f77d9

[2022-07-28 16:19] rubenhak commented on #71
@christianknell, I guess we can compromise one time upgradability to use Bitnami sub-charts.

A help would be awesome! I looked through the chart definition, could see the chart dependency and the "mysql.enabled" flag, but couldn't see how other mysql variables are passed to the chart. Can you show how this would work with subcharts?

[2022-07-29 10:05] christianknell commented on #71
@rubenhak: i will have a try to use an existing pvc, when i start the transition to the Bitnami sub-charts.

Sub-charts are defined through "an extra hierachy" in your values.yaml. You can see in this [example values.yaml](https://github.com/christianknell/helm-charts/blob/main/charts/shlink-backend/values.yaml#L70) the key mysql which takes the values for the mysql sub-chart. This works the same

[2022-08-01 13:45] kubevious commented on #65
Released in v1..0.10. Learn more about [Kubevious Guard here](https://kubevious.io/docs/guard/).

[2022-08-01 13:45] #65 closed

[2022-08-01 13:47] #63 closed

[2022-08-16 19:30] kubevious commented on #76
Closing for inactivity.

[2022-08-16 19:30] #76 closed

[2022-08-19 11:39] pcgeek86 opened #77 "Where's the open source code for Kubevious?"
According to the Kubevious website, this is an open source project. However, the website links to this repository, which doesn't actually contain any application source code. Is Kubevious truly open source? 🤔

[2022-08-19 14:13] tanmay-bhat commented on #77
Hey @pcgeek86 , I believe all available code you're looking for is [here](https://github.com/kubevious?tab=repositories).

Moreover, @rubenhak I hope can clarify if you have any additional doubts over this.

[2022-08-19 17:03] rubenhak commented on #77
Thanks @tanmay-bhat.

@pcgeek86, the project is indeed open-source. Unlike many other "cli tools", it was very hard and impractical to fit all the code into a single repository. There are 4 executables and numerous modules involved. Please see the [CONTRIBUTING  guide](https://github.com/kubevious/kubevious/blob/master/CONTRIBUTING.md#where-is-the-stuff) for the locations of the source code.

Btw,

[2022-08-26 09:26] #77 closed

[2022-08-26 17:44] rawkode opened #78 "Make Kubevious Rules a CRD"
### Is your feature request related to a problem? Please describe.
I'd like my Kubevious rules to be applied in a GitOps fashion

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

### Additional context
Add any othe

[2022-10-14 07:51] Ra-Amine opened #79 "livenessProbe problem with Collector"
Hello,

When I install helm chart in my cluster, collector pod can start and stay in CrashLoopBackOff state .

After investigation, periodSeconds in livenessProbe section is too short and is not editable from chart values, so I have to manually edit the deployment to increase this value.

Defaults values:
[code]
Is it possible to add the possibility to control the livenessProbe and readinessProbe

[2022-10-17 18:04] kubevious commented on #79
Closing this issue, because there was another one opened in the corresponding Helm Chart repository:
[](https://github.com/kubevious/helm/issues/27)

[2022-10-17 18:04] #79 closed

[2022-10-26 09:49] robertomlsoares opened #80 "Manifests generated by the Helm chart don't contain metadata.namespace even though it's specified"
### Describe the bug
I'm trying to install kubevious in a cluster using `helm template`. The reason we use `template` instead of `upgrade` (or other imperative Helm commands) is that we use a GitOps solution to deploy the manifests to the cluster.

So first, we use `helm template` to generate the manifests, then push them to a git repository, and those will then be applied to the cluster. However,

[2022-10-27 05:26] tanmay-bhat commented on #80
Hey @robertomlsoares  thanks for reporting the issue.

@rubenhak  I can see that the resource definition doesn't contain namespace defined in templates. For example the backend [deployment](https://github.com/kubevious/helm/blob/master/kubernetes/templates/backend/deployment.yaml).

This can be easily fixed by adding `namespace: {{ .Release.Namespace }}` to the template manifests.

What's your tho

[2022-11-01 00:05] rubenhak commented on #80
@robertomlsoares, @tanmay-bhat, that's a reasonable ask. Could you try this out with the new version?
[code]

[2022-11-01 08:59] robertomlsoares commented on #80
Works perfectly, thanks for the quick turnaround!

[2022-11-01 16:43] rubenhak commented on #80
Sounds great. I'll then close this issue.

[2022-11-01 16:43] #80 closed